{% extends 'base.html' %}
{% block body %}
<h2>Todo list page</h2>
<a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a><br><br>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
        <th>Delete</th>
    </tr>
    {% for todo in todos %}
    <tr>

        <td> <a href="{% url 'detailed' todo.id %}">{{todo.name}}</a> </td>
        <td>{{todo.created}}</td>
        <td>{{todo.dueon}}</td>
        <td>{{todo.owner}}</td>
        <td>
            <button class="btn btn-info">
                {% if todo.mark %}
                Done
                {% else %}
                Not Done
                {% endif %}
            </button>
        </td>
        <td><a href="{% url 'delete_task' todo.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}


</table>
<br>
<a href="{% url 'delete_all' %}" class="btn btn-danger">Delete All </a>
<a href="{% url 'completed' %}" class="btn btn-warning">View completed tasks</a>
{% endblock %}