{% extends 'base.html' %}
{% block body %}
<h3>Info about {{rest.name}}</h3>
<h3>{{rest.dishes.count}}</h3>
<a href="{% url 'add_dish' rest.id%}" class="btn btn-primary">Add Dish</a>
<br><br>
<!--<ul>-->
<!--<li>-->
<!--Name: {{rest.name}}-->
<!--</li>-->
<!--<li>-->
<!--Number: {{rest.number}}-->
<!--</li>-->
<!--<li>-->
<!--Located: {{rest.city}}-->
<!--</li>-->
<!--<li>-->
<!--Telephone: {{rest.telephone}}-->
<!--</li>-->
<!--</ul>-->
<ul class="list-group">
    {% for dish in dishes %}
    <li class="list-group-item">
        <h5>ID: {{ dish.id }}</h5>
        <p>Title: {{ dish.name }}</p>
    </li>
    {% endfor %}
</ul>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Telephone</th>
        <th>City</th>
        <th>Dishes</th>
    </tr>
    <tbody>

    <tr>
        <td>{{rest.name}}</td>
        <td>{{rest.number}}</td>
        <td>{{rest.telephone}}</td>
        <td>{{rest.city}}</td>
        {% for dish in rest.dishes.all %}
        <td>{{dish.name}}</td>
        {% endfor %}
    </tr>

    </tbody>
</table>

{% endblock %}