{% extends 'base.html' %}
{% block body %}
<h3>Restaurants page</h3>
<br>

<!--<a href="{% url 'home' %}">-->
    <!--<button class="btn btn-primary">Add Restaurant</button>-->
<!--</a>-->
<a href="{% url 'add_rest' %}" class="btn btn-primary">Add Restaurant</a>


<br>
<br>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Telephone</th>
            <th>City</th>
            <th>User</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thread>
    <tbody>
    <tr>
        {% for rest in rests %}
        <td><a href="{% url 'detailed_rest' rest.id %}">{{rest.name}}</a></td>
        <td>{{rest.number}}</td>
        <td>{{rest.telephone}}</td>
        <td>{{rest.city}}</td>
        <td>{{rest.user}}</td>
        <td><a href="{% url 'delete_rest' rest.id %}" class="btn btn-danger">Delete</a></td>
        <td><a href="{% url 'update_rest' rest.id %}" class="btn btn-primary">Update</a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>

<a href="{% url 'delete_all_rest' %}" class="btn btn-danger">Delete All Restaurants</a>

{% endblock %}