{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BFDjango TODO</a>
</nav>
<button type="button" class="btn btn-primary">Add Task</button>
<hr>
     {% if Isnotcompl %}
          <h1>Tasks in "List 1"</h1>
     {% else  %}
          <h1>Completed tasks in "List 1"</h1>
     {% endif %}
<hr>
<table class="table">
  <thead>
    <tr>
      <th >Task</th>
      <th >Created</th>
      <th >Due on</th>
      <th >Owner</th>
        <th >Mark</th>

    </tr>
  </thead>

{% block body %}
{% endblock %}

</table>

<hr>
<button type="button" class="btn btn-warning">
    {% if Isnotcompl %}
        View completed tasks
    {% else %}
        View incomplete tasks
    {% endif %}
</button>
<button type="button" class="btn btn-danger">Delete this list</button>

</body>
</html>
